<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" crossorigin href="/style.css">
  </head>
  <body class="bg-neutral-100 dark:bg-neutral-800">
    <div class="max-w-3xl mx-auto py-8">
      <div class="px-4">
        <h1 class="text-4xl  font-light text-black dark:text-white">
          whoiam
        </h1>
        <p class="text-sm text-neutral-800 dark:text-neutral-100 mt-2">What is My IP Address? Alternative for ifconfig.me, ready for self host</p>
      </div>

      <div
        class="flex flex-col divide-y divide-neutral-300 *:px-4 *:py-4 dark:divide-neutral-700 dark:bg-neutral-900 mt-6 md:rounded-lg overflow-clip bg-white shadow dark:shadow-neutral-700/40"
      >
        {% for header in headers %}
        <div class="header__item" data-key="{{header.0}}">
          <div class="header__item-key">{{header.0}}</div>
          <div class="header__item-value">
            {{header.1}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
